body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}

/*.dancer{
  border:30px solid blue;
  border-color: '#E6B0AA';
  border-radius:20px;
  position:absolute;
}*/
.dancer{
  width: 60px;
  height: 60px;
  border:30px;
  border-radius:30px;
  box-shadow: 15px 15px 0 0 yellow;
  position:absolute;
}

.test{
  border:25px solid blue;
  border-color: '#E6B0AA';
  border-radius:100px;
  position:absolute;
}

/*#moon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 15px 15px 0 0 red;
}*/
.img{
    background-image:url('zeus.jpg');
    background-repeat:no-repeat;
    background-position:right bottom;
}